# Swap, backup, and undo files
*.swp
*.swo
*.bak
*.un~

# Session files
session.*

# Plugin data (Lazy.nvim)
data/lazy/

# Operating system-specific files
.DS_Store
*~
Thumbs.db
desktop.ini

# Logs and cache
*.log
*.tmp
.cache/

